*
!*/
!/.gitignore
!/assets/**
!/Makefile
!/package.json
!/package-lock.json
!/postcss.config.js
!/reveal-md.json
!/reveal.json
!/slides.md
!/tailwind.config.js
!/template.html
!/webpack.config.js
.DS*
